/* Juiz DropDown Menu demo	*/
/* by Geoffrey Crofte 		*/
/* CreativeCommons Licence 	*/
/* www.creativejuiz.fr 		*/

body { 
	padding: 0;
	margin: 0 auto;
	width: 1000px;
}

h3 {
	font-family:"Two Turtle Doves";
	font-size:30px;
	color:#666;
}