#contain { width:700px; margin:0 auto; }
fieldset { background:#ffffff;border:1px #999 solid; margin-bottom:30px; width:600px;}
fieldset.action { background:#9da2a6; border-color:#e5e5e5 #797c80 #797c80 #e5e5e5; margin-top:-20px;
border-radius:5px;
}
input, textarea, select { font:12px/12px Arial, Helvetica, sans-serif; padding:0; }
label { font-size:11px; font-weight:bold; color:#666; }
dl { clear:both; }
dt { float:left; text-align:right; width:90px; line-height:25px; margin:0 10px 10px 0; }
dd { float:left; width:475px; line-height:25px; margin:0 0 10px 0; }




